<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hello Node with EJS</title>
	<meta name="description" content="Hello Node with EJS">
</head>
<body>
	<%- body %>
</body>
</html>